# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c2VjdXJlLXNoYXJrLTQ2LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_xC2bhh9RAMAUgrcoMQrO0yTZ7Z2TGFttD9xw54lIci
CLERK_WEBHOOK_SECRET=whsec_dTE7ECWIGt//WZdzr+g/CLSSZBKkEqhh
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/onboarding

# Supabase
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# n8n Webhooks
NEXT_PUBLIC_N8N_ONBOARDING_WEBHOOK=your_n8n_onboarding_webhook_url
NEXT_PUBLIC_N8N_ANALYZE_WEBHOOK=https://n8n.srv1241445.hstgr.cloud/webhook/33ca7768-ccbe-407a-8a3c-12403e4df685
NEXT_PUBLIC_N8N_SAVE_WEBHOOK=your_n8n_save_webhook_url
NEXT_PUBLIC_N8N_REPORT_WEBHOOK=your_n8n_report_webhook_url

# Xendit
XENDIT_SECRET_KEY=your_xendit_secret_key
XENDIT_WEBHOOK_TOKEN=your_xendit_webhook_token
NEXT_PUBLIC_XENDIT_PUBLIC_KEY=your_xendit_public_key

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
